<div th:fragment="footer">
    <footer class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>

        </div>
        <div class="mx-auto">
        <span class="mb-3 mb-md-0 text-muted">© 2023 WineForFun, Inc</span>
        </div>

        <!--ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul-->

        <!--div id="mydiv">
            <a href="/login" class="btn btn-primary">Sign in</a>
        </div>

        <br />
        <button onclick="toggle(this)">Hide div</button>

        <script th:inline="javascript">
          let toggle = button => {
            let element = document.getElementById("mydiv");
            let hidden = element.getAttribute("hidden");

            if (hidden) {
               element.removeAttribute("hidden");
               button.innerText = "Hide div";
            } else {
               element.setAttribute("hidden", "hidden");
               button.innerText = "Show div";
            }
          }
        </script-->

    </footer>
</div>